{% extends 'layout.html' %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="row">
    <div class="jumbotron">
        <h1>DevCaffeine</h1>
        <p>O café é a bebida considerada o melhor amigo dos profissionais de TI.</p>
    </div>
</div>
<div class="row">
    <figure class="col-sm-2 col-sm-offset-1">
        <img class="img-thumbnail pull-right" src="{{url_for('static', filename = 'img/tonho.jpg')}}" alt="Minha Foto"/>
    </figure>
    <div class="col-sm-8">
        <h5 class="importantes">Antonio Santana</h5>
        <h5 class="importantes">23 anos</h5>
        <h5 class="importantes">Solteiro</h5>
        <p class="text-justify">
            Sou um cara simples que tenta se dar bem com o maior numero de pessoas possiveis. Gosto muito de sair com os amigos no final de semana, mas quando estou em casa adoro maratonar aquele anime, serie, filmes.

            No tempo livre passo boa parte lendo algo sobre tecnologia e acabo virando noites com esses tipos de coisas, sem falar que sou torcedor apaixonado pelo melhor time do norte-nordeste o BAHIA. #BBMP

            Em relação a religião me considero ateu, e não suporto entrar em discussões sobre religião pois acredito que este tipo de conversa não leva a lugar nenhum.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 bloco-1">
        <div class="text-center">
            <h3>Curriculo Acadêmico</h3>
            <ul class="list-unstyled">
                <li>Graduando em Ciência da Computação</li>
                <li>Universidade Federal da Bahia</li>
                <li>2012 - 2018</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6 bloco-1">
        <div class="text-center">
            <h3>Conhecimentos</h3>
            <ul class="list-inline">
                <li>Python, Java, JavaScript, HTML5, CSS3, MarkDown, Git</li>
                <li>GitHub, Bootstrap, Flask, SASS, JQuery, JSON, XML</li>
            </ul>
        </div>
    </div>
</div>
<div class="table-responsive bloco-2">
    <table class="table table-hover table-bordered">
        <caption class="text-center">Experiências Profissionais</caption>
        <thead>
            <tr>
                <th>Empresa</th>
                <th>Periodo</th>
                <th>Função</th>
                <th>Setor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Serviço de Atendimento ao Cidadão - SAC</td>
                <td>10/2012 - 09/2014</td>
                <td>Auxiliar Administrativo</td>
                <td>SSP/BA</td>
            </tr>
            <tr>
                <td>Defensoria Publica do Estado - DPE</td>
                <td>04/2014 - 09/2015</td>
                <td>Suporte Tecnico</td>
                <td>CMO</td>
            </tr>
            <tr>
                <td>Superintendencia de Tecnologia da Informação - STI</td>
                <td>10/2015 - 07/2016</td>
                <td>Desenvolvedor</td>
                <td>GERE</td>
            </tr>
        </tbody>
    </table>
</div>
<form role='form'>
    <div class="from-group">
        <label for="nome">Nome:</label>
        <input type="text" class="form-control" placeholder="Insira o nome">
    </div>
    <div class="form-group">
        <label for="email">E-mail:</label>
        <input type="email" class="form-control" placeholder="Insira o e-mail">
    </div>
    <div class="form-group">
        <label for="assunto">Assunto:</label>
        <textarea name="assunto" id="assunto" cols="30" rows="10" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Enviar</button>
</form>
{% endblock %}
