<!DOCTYPE html>
<html>
  <head>
      <title>DevCaffeine</title>
      <link rel='stylesheet' href="{{url_for('static', filename = 'css/normalize.css')}}">
      <link rel='stylesheet' href="{{url_for('static', filename = 'css/style.css')}}">
  </head>
  <body class="body">
    <header>
        <nav>
            <ul class="menu">
                <li class="esquerda"><a class="botaos" href="#">DevCaffeine</a></li>
                <li class="direita"><a class="botaos" href="#">Entre em Contato</a></li>
                <li class="direita"><a
                class="botaos" href="#">Experiências</a></li>
                <li class="direita"><a class="botaos" href="#">Sobre</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
