@charset "UTF-8";
[class *= 'bloco-']{
    max-height: 100%;
    padding-top: 8%;
    padding-bottom: 5%;
}

[class *= 'fa-align-justify']{
    color: white;
}

.titulo{
    margin-bottom: 5%;
}
.importantes{
    font-weight: bolder;
}
